section {
    background-color: white;
    height: 500px;
    border: solid black 1px;
}

.hero {
    color: white;
    background-color: bisque;
    display: 100vw;
    height: 500px;  
}
ul {
    display: flex;
    list-style-type: none;
}

li {
    width: 200px;
}